{% extends 'base.html' %}
{% load static %}

{% block head %}
<!-- CDN link for swiper carousel  -->
<link href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" rel="stylesheet" />

<link rel="stylesheet" href="{% static 'css/swiper.css' %}" />

{% endblock %}

{% block title %}
Home
{% endblock %}

{% block content %}
<!-- featured product carousel -->
<section class="w-full relative pt-8">
    <div class="swiper feature-product-carousel swiper-container">
        <div class="swiper-wrapper">
            {% for featured_product in featured_products %}
            <div class="swiper-slide">
                <div class="grid grid-cols-2 border-2 border-gray-300 rounded-2xl h-[500px]">
                    <div class="h-[450px] flex items-center justify-center my-auto">
                        <img src="{{featured_product.image.url}}" alt="{{featured_product.name}}"
                            class="h-full w-auto" />
                    </div>

                    <div class="h-[450px] flex flex-col justify-center space-y-4">
                        <div>
                            <h2 class="text-4xl text-emerald-600 font-black animate-pulse mb-2">Featured</h2>
                            <h2 class="text-3xl font-bold text-gray-900">{{featured_product.name}}</h2>
                        </div>

                        <div>
                            <div class="flex items-center gap-2">
                                {% if featured_product.discount_percentage %}
                                <h4 class="font-bold text-3xl line-through text-rose-600">${{featured_product.price}}
                                </h4>
                                {% endif %}
                                <h4 class="font-black text-4xl">${{featured_product.discount_price|floatformat:2}}</h4>
                            </div>

                            {% if featured_product.discount_percentage %}
                            <span class="bg-emerald-500 text-white font-medium rounded-full px-4 py-px text-sm">
                                {{featured_product.discount_percentage|floatformat:0}}% Off
                            </span>
                            {% endif %}

                            <div class="space-y-2 mt-5">
                                <p class="font-medium text-gray-900">
                                    <i class="fa-solid fa-square-minus"></i>
                                    {{featured_product.processor}}
                                </p>

                                <p class="font-medium text-gray-900">
                                    <i class="fa-solid fa-square-minus"></i>
                                    {{featured_product.display}}
                                </p>

                                <p class="font-medium text-gray-900">
                                    <i class="fa-solid fa-square-minus"></i>
                                    {{featured_product.memory}}
                                </p>

                                <p class="font-medium text-gray-900">
                                    <i class="fa-solid fa-square-minus"></i>
                                    {{featured_product.camera}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="flex items-center gap-8 lg:justify-start justify-center">
        <button id="slider-button-left"
            class="swiper-button-prev group !p-2 flex justify-center items-center border border-solid border-emerald-600 !size-12 transition-all duration-500 rounded-full !top-2/4 !-translate-y-8 !left-5 hover:bg-emerald-600"
            data-carousel-prev>
            <svg class="size-6 text-emerald-600 group-hover:text-white" xmlns="http://www.w3.org/2000/svg" width="16"
                height="16" viewBox="0 0 16 16" fill="none">
                <path d="M10.0002 11.9999L6 7.99971L10.0025 3.99719" stroke="currentColor" stroke-width="1.6"
                    stroke-linecap="round" stroke-linejoin="round" />
            </svg>
        </button>

        <button id="slider-button-right"
            class="swiper-button-next group !p-2 flex justify-center items-center border border-solid border-emerald-600 !size-12 transition-all duration-500 rounded-full !top-2/4 !-translate-y-8  !right-5 hover:bg-emerald-600"
            data-carousel-next>
            <svg class="size-6 text-emerald-600 group-hover:text-white" xmlns="http://www.w3.org/2000/svg" width="16"
                height="16" viewBox="0 0 16 16" fill="none">
                <path d="M5.99984 4.00012L10 8.00029L5.99748 12.0028" stroke="currentColor" stroke-width="1.6"
                    stroke-linecap="round" stroke-linejoin="round" />
            </svg>
        </button>
    </div>

    <div class="swiper-pagination"></div>
</section>

<section class="mt-10">
    <h2 class="text-4xl font-bold text-gray-900">All Products ({{products|length}})</h2>

    <div class="grid grid-cols-4 gap-5 mt-6">
        <!-- product card -->
        {% for product in products %}
        <div class="relative border border-gray-600 rounded-xl p-4 space-y-3">
            <figure class="h-[250px] flex justify-center items-center">
                <img src="{{product.image.url}}" class="h-full w-auto object-cover" alt="image of {{product.name}}" />

            </figure>

            <figcaption class="flex flex-col h-[260px] space-y-3">
                <div class="flex-1">
                    <h3 class="text-2xl font-semibold">{{product.name}}</h3>

                    <div class="my-2">
                        <div class="flex items-center gap-2">
                            {% if product.discount_percentage %}
                            <h4 class="font-bold text-2xl line-through text-rose-600">${{product.price}}</h4>
                            {% endif %}
                            <h4 class="font-black text-3xl">${{product.discount_price|floatformat:2}}</h4>
                        </div>

                        {% if product.discount_percentage %}
                        <span class="bg-emerald-500 text-white font-medium rounded-full px-4 py-px text-xs">
                            {{product.discount_percentage|floatformat:0}}% Off
                        </span>
                        {% endif %}
                    </div>


                    <p class="text-gray-500">{{product.description}}</p>
                </div>

                <div class="space-y-1 mt-auto">
                    <a href="{% url 'product_details' product.id %}"
                        class="block w-full !bg-sky-500 text-white text-center px-8 py-2 cursor-pointer hover:opacity-70 duration-300 rounded-md">
                        <i class="fa-solid fa-eye"></i>
                        View Details
                    </a>

                    <div class="flex items-center gap-2">
                        <button
                            class="flex-1 !bg-gray-900 text-white px-8 py-2 cursor-pointer hover:opacity-70 duration-300 rounded-md">
                            <i class="fa-solid fa-cart-plus"></i>
                            Add to Cart
                        </button>

                        <button title="Add to wishlist"
                            class="flex items-center justify-center bg-transparent text-gray-900 p-2 size-10 border-2 !border-gray-900 hover:bg-gray-900 hover:text-white duration-300 rounded-md">
                            <i class="fa-solid fa-heart"></i>
                        </button>
                    </div>
                </div>
            </figcaption>

            {% if product.is_new %}
            <p
                class="absolute top-1 right-4 w-fit font-medium bg-rose-600 text-white text-sm rounded-full px-4 py-px animate-pulse">
                New Arrival
            </p>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script src="{% static 'js/swiper.js' %}"></script>
{% endblock %}