.swiper-wrapper {
    width: 100%;
    height: max-content !important;
    padding-bottom: 50px !important;
    -webkit-transition-timing-function: linear !important;
    transition-timing-function: linear !important;
    position: relative;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after,
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
    content: '';
}

.swiper-pagination-bullet {
    background: #009966 !important;
}