{% extends 'base.html' %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}
<section class="py-10 space-y-10">
    <div class="w-4/5 h-fit mx-auto border-2 rounded-2xl p-5">
        <div class="flex items-center justify-end gap-3">
            <a href="{% url 'update_dashboard' %}"
                class="bg-sky-600 text-white rounded-md px-4 py-2 hover:opacity-70 duration-300">
                <i class="fa-solid fa-pen-to-square"></i>
                Update Dashboard
            </a>

            <a href="{% url 'change_password' %}"
                class="bg-emerald-600 text-white rounded-md px-4 py-2 hover:opacity-70 duration-300">
                <i class="fa-solid fa-unlock"></i>
                Change Password
            </a>
        </div>

        <div class="space-y-3">
            {% if user.profile_picture %}
            <div class="flex items-center justify-center">
                <div class="size-20 rounded-lg overflow-hidden">
                    <img src="{{user.profile_picture.url}}" class="w-full h-full object-cover"
                        alt="Avatar of {{user.first_name}} {{user.last_name}}" />
                </div>
            </div>
            {% else %}
            <div class="flex items-center justify-center">
                <div class="flex items-center justify-center bg-gray-300 size-20 rounded-md">
                    <i class="fa-solid fa-user text-5xl text-gray-400"></i>
                </div>
            </div>
            {% endif %}
            <h2 class="text-gray-900 text-3xl text-center font-bold">{{user.first_name}} {{user.last_name}}</h2>
        </div>

        <div class="grid grid-cols-3 gap-5 mt-5">
            <div class="text-center">
                <p class="text-gray-500 font-medium">Email</p>
                <h3 class="text-gray-900 text-2xl font-semibold">{{user.email}}</h3>
            </div>

            <div class="text-center">
                <p class="text-gray-500 font-medium">Phone Number</p>
                <h3 class="text-gray-900 text-2xl font-semibold">
                    {{ user.phone_number|default:"N/A" }}
                </h3>
            </div>

            <div class="text-center">
                <p class="text-gray-500 font-medium">Country</p>
                <h3 class="text-gray-900 text-2xl font-semibold">
                    {{ user.country|default:"N/A" }}
                </h3>
            </div>

            <div class="text-center">
                <p class="text-gray-500 font-medium">City</p>
                <h3 class="text-gray-900 text-2xl font-semibold">
                    {{ user.city|default:"N/A" }}
                </h3>
            </div>

            <div class="text-center">
                <p class="text-gray-500 font-medium">Postal Code</p>
                <h3 class="text-gray-900 text-2xl font-semibold">
                    {{ user.postal_code|default:"N/A" }}
                </h3>
            </div>

            <div class="text-center">
                <p class="text-gray-500 font-medium">Address</p>
                <h3 class="text-gray-900 text-2xl font-semibold">
                    {{ user.address|default:"N/A" }}
                </h3>
            </div>
        </div>
    </div>

    {% if orders|length > 0 %}
    <div class="flex flex-col gap-2">
        <h2 class="text-3xl font-semibold text-gray-900">Purchase History</h2>
        <div class=" overflow-x-auto">
            <div class="min-w-full inline-block align-middle">
                <div class="overflow-hidden border-2 rounded-lg">
                    <table class=" min-w-full rounded-xl">
                        <thead>
                            <tr class="bg-gray-50">
                                <th scope="col"
                                    class="p-5 text-left text-sm leading-6 font-semibold text-gray-900 capitalize">
                                    Order ID
                                </th>
                                <th scope="col"
                                    class="p-5 text-left text-sm leading-6 font-semibold text-gray-900 capitalize">
                                    Order Amount
                                </th>
                                <th scope="col"
                                    class="p-5 text-left text-sm leading-6 font-semibold text-gray-900 capitalize">
                                    Order Date
                                </th>
                                <th scope="col"
                                    class="p-5 text-left text-sm leading-6 font-semibold text-gray-900 capitalize">
                                    Status
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                            <tr class="odd:bg-white even:bg-gray-50">
                                <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900 ">
                                    {{order.order_number}}
                                </td>
                                <td class="p-5 whitespace-nowrap text-sm leading-6 font-bold text-gray-900">
                                    ${{order.order_total}}
                                </td>
                                <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">
                                    {{order.created_at|date:'D, d M Y @H:i A'}}
                                </td>
                                <td
                                    class="p-5 whitespace-nowrap text-sm leading-6 font-bold {% if order.status == 'Cancelled' %}text-red-500{% elif order.status == 'Completed' %}text-emerald-500{% else %}text-amber-500{% endif %}">
                                    {{order.status}}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</section>
{% endblock %}